
.bp-errors {
   color: red;
}

.bp-error-field {
   border: 1px solid red;
}

#balancedpayments-legal-body {
   border: 1px solid black;
   padding: 0px 10px;
   height: 300px;
   overflow: scroll;
}

